Web References/wsRRHH/webServRRHH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getVacantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getVacantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getVacantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPrioridadesRequisitos">
        <s:complexType />
      </s:element>
      <s:element name="getPrioridadesRequisitosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPrioridadesRequisitosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadosVacantes">
        <s:complexType />
      </s:element>
      <s:element name="getEstadosVacantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEstadosVacantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesVacante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesVacanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesVacanteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRequisitosVac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRequisitosVacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRequisitosVacResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesRequisito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReq" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesRequisitoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesRequisitoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCorrVac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCorrVacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCorrVacResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIdVac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIdVacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getIdVacResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCapacitaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCapacitacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCapacitacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpleados">
        <s:complexType />
      </s:element>
      <s:element name="getEmpleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmpleadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEvaluaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEvaluacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEvaluacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="getUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDepartamentos">
        <s:complexType />
      </s:element>
      <s:element name="getDepartamentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDepartamentosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNombresDepartamentos">
        <s:complexType />
      </s:element>
      <s:element name="getNombresDepartamentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNombresDepartamentosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDptoID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDptoIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDptoIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDptoAbv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDptoAbvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDptoAbvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPuestos">
        <s:complexType />
      </s:element>
      <s:element name="getPuestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPuestosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTiposEvaluaciones">
        <s:complexType />
      </s:element>
      <s:element name="getTiposEvaluacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTiposEvaluacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNivelesUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="getNivelesUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNivelesUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesCapacitacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCap" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesCapacitacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesCapacitacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsignCapacitaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCap" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsignCapacitacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAsignCapacitacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpleadosByDpto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpleadosByDptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmpleadosByDptoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateCapEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCap" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateCapEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateCapEmpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesEvaluacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesEvaluacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesEvaluacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsignEvalApl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsignEvalAplResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAsignEvalAplResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAplicantesByVac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAplicantesByVacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAplicantesByVacResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateEvApl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idApl" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateEvAplResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateEvAplResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAsignCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAsign" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAsignCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesAsignCapResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAsignEval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAsign" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAsignEvalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesAsignEvalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAplicantesVac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVac" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAplicantesVacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAplicantesVacResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTiposAplicantes">
        <s:complexType />
      </s:element>
      <s:element name="getTiposAplicantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTiposAplicantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAplicante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idApl" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetallesAplicanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetallesAplicanteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getResultadosAplicaciones">
        <s:complexType />
      </s:element>
      <s:element name="getResultadosAplicacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getResultadosAplicacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadosContratos">
        <s:complexType />
      </s:element>
      <s:element name="getEstadosContratosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEstadosContratosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateVacante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCodVac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vacante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEstado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cupo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateVacanteResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateRequisito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReq" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="requisito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detalles" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPrioridad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateRequisitoResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateAplicante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idApl" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dui" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idResultado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAplicanteResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dui" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCargo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="idEstadoContrato" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertVacante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vacante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cupo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertVacanteResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertRequisito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVac" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codVac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requisito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detalles" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPrioridad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRequisitoResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dui" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCargo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertCapacitacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cupo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idDpto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCapacitacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertEvaluacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evaluacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objetivos" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxScore" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertEvaluacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idNivel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="asignarEmpCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCap" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmp" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="asignarEmpCapResponse">
        <s:complexType />
      </s:element>
      <s:element name="asignarAplEval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idAplicante" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaEvaluacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaEvaluacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="asignarAplEvalResponse">
        <s:complexType />
      </s:element>
      <s:element name="uniqueAplDui">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dui" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uniqueAplDuiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uniqueAplDuiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertAplicante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVac" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dui" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertAplicanteResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteVacante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vacCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteVacanteResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteRequisito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReq" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteRequisitoResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteAsignCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAsign" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAsignCapResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteAsigEval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAsign" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAsigEvalResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteAplicante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idApl" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAplicanteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getVacantesSoapIn">
    <wsdl:part name="parameters" element="tns:getVacantes" />
  </wsdl:message>
  <wsdl:message name="getVacantesSoapOut">
    <wsdl:part name="parameters" element="tns:getVacantesResponse" />
  </wsdl:message>
  <wsdl:message name="getPrioridadesRequisitosSoapIn">
    <wsdl:part name="parameters" element="tns:getPrioridadesRequisitos" />
  </wsdl:message>
  <wsdl:message name="getPrioridadesRequisitosSoapOut">
    <wsdl:part name="parameters" element="tns:getPrioridadesRequisitosResponse" />
  </wsdl:message>
  <wsdl:message name="getEstadosVacantesSoapIn">
    <wsdl:part name="parameters" element="tns:getEstadosVacantes" />
  </wsdl:message>
  <wsdl:message name="getEstadosVacantesSoapOut">
    <wsdl:part name="parameters" element="tns:getEstadosVacantesResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesVacanteSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesVacante" />
  </wsdl:message>
  <wsdl:message name="getDetallesVacanteSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesVacanteResponse" />
  </wsdl:message>
  <wsdl:message name="getRequisitosVacSoapIn">
    <wsdl:part name="parameters" element="tns:getRequisitosVac" />
  </wsdl:message>
  <wsdl:message name="getRequisitosVacSoapOut">
    <wsdl:part name="parameters" element="tns:getRequisitosVacResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesRequisitoSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesRequisito" />
  </wsdl:message>
  <wsdl:message name="getDetallesRequisitoSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesRequisitoResponse" />
  </wsdl:message>
  <wsdl:message name="getCorrVacSoapIn">
    <wsdl:part name="parameters" element="tns:getCorrVac" />
  </wsdl:message>
  <wsdl:message name="getCorrVacSoapOut">
    <wsdl:part name="parameters" element="tns:getCorrVacResponse" />
  </wsdl:message>
  <wsdl:message name="getIdVacSoapIn">
    <wsdl:part name="parameters" element="tns:getIdVac" />
  </wsdl:message>
  <wsdl:message name="getIdVacSoapOut">
    <wsdl:part name="parameters" element="tns:getIdVacResponse" />
  </wsdl:message>
  <wsdl:message name="getCapacitacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getCapacitaciones" />
  </wsdl:message>
  <wsdl:message name="getCapacitacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getCapacitacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpleadosSoapIn">
    <wsdl:part name="parameters" element="tns:getEmpleados" />
  </wsdl:message>
  <wsdl:message name="getEmpleadosSoapOut">
    <wsdl:part name="parameters" element="tns:getEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="getEvaluacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getEvaluaciones" />
  </wsdl:message>
  <wsdl:message name="getEvaluacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getEvaluacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:getUsuarios" />
  </wsdl:message>
  <wsdl:message name="getUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:getUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="getDepartamentosSoapIn">
    <wsdl:part name="parameters" element="tns:getDepartamentos" />
  </wsdl:message>
  <wsdl:message name="getDepartamentosSoapOut">
    <wsdl:part name="parameters" element="tns:getDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="getNombresDepartamentosSoapIn">
    <wsdl:part name="parameters" element="tns:getNombresDepartamentos" />
  </wsdl:message>
  <wsdl:message name="getNombresDepartamentosSoapOut">
    <wsdl:part name="parameters" element="tns:getNombresDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="getDptoIDSoapIn">
    <wsdl:part name="parameters" element="tns:getDptoID" />
  </wsdl:message>
  <wsdl:message name="getDptoIDSoapOut">
    <wsdl:part name="parameters" element="tns:getDptoIDResponse" />
  </wsdl:message>
  <wsdl:message name="getDptoAbvSoapIn">
    <wsdl:part name="parameters" element="tns:getDptoAbv" />
  </wsdl:message>
  <wsdl:message name="getDptoAbvSoapOut">
    <wsdl:part name="parameters" element="tns:getDptoAbvResponse" />
  </wsdl:message>
  <wsdl:message name="getPuestosSoapIn">
    <wsdl:part name="parameters" element="tns:getPuestos" />
  </wsdl:message>
  <wsdl:message name="getPuestosSoapOut">
    <wsdl:part name="parameters" element="tns:getPuestosResponse" />
  </wsdl:message>
  <wsdl:message name="validarLoginSoapIn">
    <wsdl:part name="parameters" element="tns:validarLogin" />
  </wsdl:message>
  <wsdl:message name="validarLoginSoapOut">
    <wsdl:part name="parameters" element="tns:validarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesEmpleado" />
  </wsdl:message>
  <wsdl:message name="getDetallesEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="getTiposEvaluacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getTiposEvaluaciones" />
  </wsdl:message>
  <wsdl:message name="getTiposEvaluacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getTiposEvaluacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getNivelesUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:getNivelesUsuarios" />
  </wsdl:message>
  <wsdl:message name="getNivelesUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:getNivelesUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesCapacitacionSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesCapacitacion" />
  </wsdl:message>
  <wsdl:message name="getDetallesCapacitacionSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesCapacitacionResponse" />
  </wsdl:message>
  <wsdl:message name="getAsignCapacitacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getAsignCapacitaciones" />
  </wsdl:message>
  <wsdl:message name="getAsignCapacitacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getAsignCapacitacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpleadosByDptoSoapIn">
    <wsdl:part name="parameters" element="tns:getEmpleadosByDpto" />
  </wsdl:message>
  <wsdl:message name="getEmpleadosByDptoSoapOut">
    <wsdl:part name="parameters" element="tns:getEmpleadosByDptoResponse" />
  </wsdl:message>
  <wsdl:message name="validateCapEmpSoapIn">
    <wsdl:part name="parameters" element="tns:validateCapEmp" />
  </wsdl:message>
  <wsdl:message name="validateCapEmpSoapOut">
    <wsdl:part name="parameters" element="tns:validateCapEmpResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesEvaluacionSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesEvaluacion" />
  </wsdl:message>
  <wsdl:message name="getDetallesEvaluacionSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="getAsignEvalAplSoapIn">
    <wsdl:part name="parameters" element="tns:getAsignEvalApl" />
  </wsdl:message>
  <wsdl:message name="getAsignEvalAplSoapOut">
    <wsdl:part name="parameters" element="tns:getAsignEvalAplResponse" />
  </wsdl:message>
  <wsdl:message name="getAplicantesByVacSoapIn">
    <wsdl:part name="parameters" element="tns:getAplicantesByVac" />
  </wsdl:message>
  <wsdl:message name="getAplicantesByVacSoapOut">
    <wsdl:part name="parameters" element="tns:getAplicantesByVacResponse" />
  </wsdl:message>
  <wsdl:message name="validateEvAplSoapIn">
    <wsdl:part name="parameters" element="tns:validateEvApl" />
  </wsdl:message>
  <wsdl:message name="validateEvAplSoapOut">
    <wsdl:part name="parameters" element="tns:validateEvAplResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesUsuario" />
  </wsdl:message>
  <wsdl:message name="getDetallesUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesAsignCapSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesAsignCap" />
  </wsdl:message>
  <wsdl:message name="getDetallesAsignCapSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesAsignCapResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesAsignEvalSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesAsignEval" />
  </wsdl:message>
  <wsdl:message name="getDetallesAsignEvalSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesAsignEvalResponse" />
  </wsdl:message>
  <wsdl:message name="getAplicantesVacSoapIn">
    <wsdl:part name="parameters" element="tns:getAplicantesVac" />
  </wsdl:message>
  <wsdl:message name="getAplicantesVacSoapOut">
    <wsdl:part name="parameters" element="tns:getAplicantesVacResponse" />
  </wsdl:message>
  <wsdl:message name="getTiposAplicantesSoapIn">
    <wsdl:part name="parameters" element="tns:getTiposAplicantes" />
  </wsdl:message>
  <wsdl:message name="getTiposAplicantesSoapOut">
    <wsdl:part name="parameters" element="tns:getTiposAplicantesResponse" />
  </wsdl:message>
  <wsdl:message name="getDetallesAplicanteSoapIn">
    <wsdl:part name="parameters" element="tns:getDetallesAplicante" />
  </wsdl:message>
  <wsdl:message name="getDetallesAplicanteSoapOut">
    <wsdl:part name="parameters" element="tns:getDetallesAplicanteResponse" />
  </wsdl:message>
  <wsdl:message name="getResultadosAplicacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getResultadosAplicaciones" />
  </wsdl:message>
  <wsdl:message name="getResultadosAplicacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getResultadosAplicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getEstadosContratosSoapIn">
    <wsdl:part name="parameters" element="tns:getEstadosContratos" />
  </wsdl:message>
  <wsdl:message name="getEstadosContratosSoapOut">
    <wsdl:part name="parameters" element="tns:getEstadosContratosResponse" />
  </wsdl:message>
  <wsdl:message name="updateVacanteSoapIn">
    <wsdl:part name="parameters" element="tns:updateVacante" />
  </wsdl:message>
  <wsdl:message name="updateVacanteSoapOut">
    <wsdl:part name="parameters" element="tns:updateVacanteResponse" />
  </wsdl:message>
  <wsdl:message name="updateRequisitoSoapIn">
    <wsdl:part name="parameters" element="tns:updateRequisito" />
  </wsdl:message>
  <wsdl:message name="updateRequisitoSoapOut">
    <wsdl:part name="parameters" element="tns:updateRequisitoResponse" />
  </wsdl:message>
  <wsdl:message name="updateAplicanteSoapIn">
    <wsdl:part name="parameters" element="tns:updateAplicante" />
  </wsdl:message>
  <wsdl:message name="updateAplicanteSoapOut">
    <wsdl:part name="parameters" element="tns:updateAplicanteResponse" />
  </wsdl:message>
  <wsdl:message name="updateEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:updateEmpleado" />
  </wsdl:message>
  <wsdl:message name="updateEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:updateEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="insertVacanteSoapIn">
    <wsdl:part name="parameters" element="tns:insertVacante" />
  </wsdl:message>
  <wsdl:message name="insertVacanteSoapOut">
    <wsdl:part name="parameters" element="tns:insertVacanteResponse" />
  </wsdl:message>
  <wsdl:message name="insertRequisitoSoapIn">
    <wsdl:part name="parameters" element="tns:insertRequisito" />
  </wsdl:message>
  <wsdl:message name="insertRequisitoSoapOut">
    <wsdl:part name="parameters" element="tns:insertRequisitoResponse" />
  </wsdl:message>
  <wsdl:message name="insertEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:insertEmpleado" />
  </wsdl:message>
  <wsdl:message name="insertEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:insertEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="insertCapacitacionSoapIn">
    <wsdl:part name="parameters" element="tns:insertCapacitacion" />
  </wsdl:message>
  <wsdl:message name="insertCapacitacionSoapOut">
    <wsdl:part name="parameters" element="tns:insertCapacitacionResponse" />
  </wsdl:message>
  <wsdl:message name="insertEvaluacionSoapIn">
    <wsdl:part name="parameters" element="tns:insertEvaluacion" />
  </wsdl:message>
  <wsdl:message name="insertEvaluacionSoapOut">
    <wsdl:part name="parameters" element="tns:insertEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="insertUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertUsuario" />
  </wsdl:message>
  <wsdl:message name="insertUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="asignarEmpCapSoapIn">
    <wsdl:part name="parameters" element="tns:asignarEmpCap" />
  </wsdl:message>
  <wsdl:message name="asignarEmpCapSoapOut">
    <wsdl:part name="parameters" element="tns:asignarEmpCapResponse" />
  </wsdl:message>
  <wsdl:message name="asignarAplEvalSoapIn">
    <wsdl:part name="parameters" element="tns:asignarAplEval" />
  </wsdl:message>
  <wsdl:message name="asignarAplEvalSoapOut">
    <wsdl:part name="parameters" element="tns:asignarAplEvalResponse" />
  </wsdl:message>
  <wsdl:message name="uniqueAplDuiSoapIn">
    <wsdl:part name="parameters" element="tns:uniqueAplDui" />
  </wsdl:message>
  <wsdl:message name="uniqueAplDuiSoapOut">
    <wsdl:part name="parameters" element="tns:uniqueAplDuiResponse" />
  </wsdl:message>
  <wsdl:message name="insertAplicanteSoapIn">
    <wsdl:part name="parameters" element="tns:insertAplicante" />
  </wsdl:message>
  <wsdl:message name="insertAplicanteSoapOut">
    <wsdl:part name="parameters" element="tns:insertAplicanteResponse" />
  </wsdl:message>
  <wsdl:message name="deleteVacanteSoapIn">
    <wsdl:part name="parameters" element="tns:deleteVacante" />
  </wsdl:message>
  <wsdl:message name="deleteVacanteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteVacanteResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRequisitoSoapIn">
    <wsdl:part name="parameters" element="tns:deleteRequisito" />
  </wsdl:message>
  <wsdl:message name="deleteRequisitoSoapOut">
    <wsdl:part name="parameters" element="tns:deleteRequisitoResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAsignCapSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAsignCap" />
  </wsdl:message>
  <wsdl:message name="deleteAsignCapSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAsignCapResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAsigEvalSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAsigEval" />
  </wsdl:message>
  <wsdl:message name="deleteAsigEvalSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAsigEvalResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAplicanteSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAplicante" />
  </wsdl:message>
  <wsdl:message name="deleteAplicanteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAplicanteResponse" />
  </wsdl:message>
  <wsdl:portType name="webServRRHHSoap">
    <wsdl:operation name="getVacantes">
      <wsdl:input message="tns:getVacantesSoapIn" />
      <wsdl:output message="tns:getVacantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrioridadesRequisitos">
      <wsdl:input message="tns:getPrioridadesRequisitosSoapIn" />
      <wsdl:output message="tns:getPrioridadesRequisitosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosVacantes">
      <wsdl:input message="tns:getEstadosVacantesSoapIn" />
      <wsdl:output message="tns:getEstadosVacantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesVacante">
      <wsdl:input message="tns:getDetallesVacanteSoapIn" />
      <wsdl:output message="tns:getDetallesVacanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRequisitosVac">
      <wsdl:input message="tns:getRequisitosVacSoapIn" />
      <wsdl:output message="tns:getRequisitosVacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesRequisito">
      <wsdl:input message="tns:getDetallesRequisitoSoapIn" />
      <wsdl:output message="tns:getDetallesRequisitoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCorrVac">
      <wsdl:input message="tns:getCorrVacSoapIn" />
      <wsdl:output message="tns:getCorrVacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIdVac">
      <wsdl:input message="tns:getIdVacSoapIn" />
      <wsdl:output message="tns:getIdVacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCapacitaciones">
      <wsdl:input message="tns:getCapacitacionesSoapIn" />
      <wsdl:output message="tns:getCapacitacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpleados">
      <wsdl:input message="tns:getEmpleadosSoapIn" />
      <wsdl:output message="tns:getEmpleadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEvaluaciones">
      <wsdl:input message="tns:getEvaluacionesSoapIn" />
      <wsdl:output message="tns:getEvaluacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <wsdl:input message="tns:getUsuariosSoapIn" />
      <wsdl:output message="tns:getUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDepartamentos">
      <wsdl:input message="tns:getDepartamentosSoapIn" />
      <wsdl:output message="tns:getDepartamentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNombresDepartamentos">
      <wsdl:input message="tns:getNombresDepartamentosSoapIn" />
      <wsdl:output message="tns:getNombresDepartamentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDptoID">
      <wsdl:input message="tns:getDptoIDSoapIn" />
      <wsdl:output message="tns:getDptoIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDptoAbv">
      <wsdl:input message="tns:getDptoAbvSoapIn" />
      <wsdl:output message="tns:getDptoAbvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPuestos">
      <wsdl:input message="tns:getPuestosSoapIn" />
      <wsdl:output message="tns:getPuestosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarLogin">
      <wsdl:input message="tns:validarLoginSoapIn" />
      <wsdl:output message="tns:validarLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesEmpleado">
      <wsdl:input message="tns:getDetallesEmpleadoSoapIn" />
      <wsdl:output message="tns:getDetallesEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTiposEvaluaciones">
      <wsdl:input message="tns:getTiposEvaluacionesSoapIn" />
      <wsdl:output message="tns:getTiposEvaluacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNivelesUsuarios">
      <wsdl:input message="tns:getNivelesUsuariosSoapIn" />
      <wsdl:output message="tns:getNivelesUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesCapacitacion">
      <wsdl:input message="tns:getDetallesCapacitacionSoapIn" />
      <wsdl:output message="tns:getDetallesCapacitacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAsignCapacitaciones">
      <wsdl:input message="tns:getAsignCapacitacionesSoapIn" />
      <wsdl:output message="tns:getAsignCapacitacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpleadosByDpto">
      <wsdl:input message="tns:getEmpleadosByDptoSoapIn" />
      <wsdl:output message="tns:getEmpleadosByDptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateCapEmp">
      <wsdl:input message="tns:validateCapEmpSoapIn" />
      <wsdl:output message="tns:validateCapEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesEvaluacion">
      <wsdl:input message="tns:getDetallesEvaluacionSoapIn" />
      <wsdl:output message="tns:getDetallesEvaluacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAsignEvalApl">
      <wsdl:input message="tns:getAsignEvalAplSoapIn" />
      <wsdl:output message="tns:getAsignEvalAplSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAplicantesByVac">
      <wsdl:input message="tns:getAplicantesByVacSoapIn" />
      <wsdl:output message="tns:getAplicantesByVacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateEvApl">
      <wsdl:input message="tns:validateEvAplSoapIn" />
      <wsdl:output message="tns:validateEvAplSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesUsuario">
      <wsdl:input message="tns:getDetallesUsuarioSoapIn" />
      <wsdl:output message="tns:getDetallesUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignCap">
      <wsdl:input message="tns:getDetallesAsignCapSoapIn" />
      <wsdl:output message="tns:getDetallesAsignCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignEval">
      <wsdl:input message="tns:getDetallesAsignEvalSoapIn" />
      <wsdl:output message="tns:getDetallesAsignEvalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAplicantesVac">
      <wsdl:input message="tns:getAplicantesVacSoapIn" />
      <wsdl:output message="tns:getAplicantesVacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTiposAplicantes">
      <wsdl:input message="tns:getTiposAplicantesSoapIn" />
      <wsdl:output message="tns:getTiposAplicantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetallesAplicante">
      <wsdl:input message="tns:getDetallesAplicanteSoapIn" />
      <wsdl:output message="tns:getDetallesAplicanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getResultadosAplicaciones">
      <wsdl:input message="tns:getResultadosAplicacionesSoapIn" />
      <wsdl:output message="tns:getResultadosAplicacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosContratos">
      <wsdl:input message="tns:getEstadosContratosSoapIn" />
      <wsdl:output message="tns:getEstadosContratosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateVacante">
      <wsdl:input message="tns:updateVacanteSoapIn" />
      <wsdl:output message="tns:updateVacanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateRequisito">
      <wsdl:input message="tns:updateRequisitoSoapIn" />
      <wsdl:output message="tns:updateRequisitoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAplicante">
      <wsdl:input message="tns:updateAplicanteSoapIn" />
      <wsdl:output message="tns:updateAplicanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateEmpleado">
      <wsdl:input message="tns:updateEmpleadoSoapIn" />
      <wsdl:output message="tns:updateEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertVacante">
      <wsdl:input message="tns:insertVacanteSoapIn" />
      <wsdl:output message="tns:insertVacanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertRequisito">
      <wsdl:input message="tns:insertRequisitoSoapIn" />
      <wsdl:output message="tns:insertRequisitoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertEmpleado">
      <wsdl:input message="tns:insertEmpleadoSoapIn" />
      <wsdl:output message="tns:insertEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCapacitacion">
      <wsdl:input message="tns:insertCapacitacionSoapIn" />
      <wsdl:output message="tns:insertCapacitacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertEvaluacion">
      <wsdl:input message="tns:insertEvaluacionSoapIn" />
      <wsdl:output message="tns:insertEvaluacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertUsuario">
      <wsdl:input message="tns:insertUsuarioSoapIn" />
      <wsdl:output message="tns:insertUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="asignarEmpCap">
      <wsdl:input message="tns:asignarEmpCapSoapIn" />
      <wsdl:output message="tns:asignarEmpCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="asignarAplEval">
      <wsdl:input message="tns:asignarAplEvalSoapIn" />
      <wsdl:output message="tns:asignarAplEvalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uniqueAplDui">
      <wsdl:input message="tns:uniqueAplDuiSoapIn" />
      <wsdl:output message="tns:uniqueAplDuiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertAplicante">
      <wsdl:input message="tns:insertAplicanteSoapIn" />
      <wsdl:output message="tns:insertAplicanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteVacante">
      <wsdl:input message="tns:deleteVacanteSoapIn" />
      <wsdl:output message="tns:deleteVacanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRequisito">
      <wsdl:input message="tns:deleteRequisitoSoapIn" />
      <wsdl:output message="tns:deleteRequisitoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAsignCap">
      <wsdl:input message="tns:deleteAsignCapSoapIn" />
      <wsdl:output message="tns:deleteAsignCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAsigEval">
      <wsdl:input message="tns:deleteAsigEvalSoapIn" />
      <wsdl:output message="tns:deleteAsigEvalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAplicante">
      <wsdl:input message="tns:deleteAplicanteSoapIn" />
      <wsdl:output message="tns:deleteAplicanteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webServRRHHSoap" type="tns:webServRRHHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVacantes">
      <soap:operation soapAction="http://tempuri.org/getVacantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrioridadesRequisitos">
      <soap:operation soapAction="http://tempuri.org/getPrioridadesRequisitos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosVacantes">
      <soap:operation soapAction="http://tempuri.org/getEstadosVacantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesVacante">
      <soap:operation soapAction="http://tempuri.org/getDetallesVacante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequisitosVac">
      <soap:operation soapAction="http://tempuri.org/getRequisitosVac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesRequisito">
      <soap:operation soapAction="http://tempuri.org/getDetallesRequisito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCorrVac">
      <soap:operation soapAction="http://tempuri.org/getCorrVac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdVac">
      <soap:operation soapAction="http://tempuri.org/getIdVac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCapacitaciones">
      <soap:operation soapAction="http://tempuri.org/getCapacitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleados">
      <soap:operation soapAction="http://tempuri.org/getEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvaluaciones">
      <soap:operation soapAction="http://tempuri.org/getEvaluaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <soap:operation soapAction="http://tempuri.org/getUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamentos">
      <soap:operation soapAction="http://tempuri.org/getDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNombresDepartamentos">
      <soap:operation soapAction="http://tempuri.org/getNombresDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDptoID">
      <soap:operation soapAction="http://tempuri.org/getDptoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDptoAbv">
      <soap:operation soapAction="http://tempuri.org/getDptoAbv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPuestos">
      <soap:operation soapAction="http://tempuri.org/getPuestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLogin">
      <soap:operation soapAction="http://tempuri.org/validarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesEmpleado">
      <soap:operation soapAction="http://tempuri.org/getDetallesEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiposEvaluaciones">
      <soap:operation soapAction="http://tempuri.org/getTiposEvaluaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNivelesUsuarios">
      <soap:operation soapAction="http://tempuri.org/getNivelesUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesCapacitacion">
      <soap:operation soapAction="http://tempuri.org/getDetallesCapacitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsignCapacitaciones">
      <soap:operation soapAction="http://tempuri.org/getAsignCapacitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleadosByDpto">
      <soap:operation soapAction="http://tempuri.org/getEmpleadosByDpto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCapEmp">
      <soap:operation soapAction="http://tempuri.org/validateCapEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesEvaluacion">
      <soap:operation soapAction="http://tempuri.org/getDetallesEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsignEvalApl">
      <soap:operation soapAction="http://tempuri.org/getAsignEvalApl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAplicantesByVac">
      <soap:operation soapAction="http://tempuri.org/getAplicantesByVac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateEvApl">
      <soap:operation soapAction="http://tempuri.org/validateEvApl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesUsuario">
      <soap:operation soapAction="http://tempuri.org/getDetallesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignCap">
      <soap:operation soapAction="http://tempuri.org/getDetallesAsignCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignEval">
      <soap:operation soapAction="http://tempuri.org/getDetallesAsignEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAplicantesVac">
      <soap:operation soapAction="http://tempuri.org/getAplicantesVac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiposAplicantes">
      <soap:operation soapAction="http://tempuri.org/getTiposAplicantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAplicante">
      <soap:operation soapAction="http://tempuri.org/getDetallesAplicante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultadosAplicaciones">
      <soap:operation soapAction="http://tempuri.org/getResultadosAplicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosContratos">
      <soap:operation soapAction="http://tempuri.org/getEstadosContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVacante">
      <soap:operation soapAction="http://tempuri.org/updateVacante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRequisito">
      <soap:operation soapAction="http://tempuri.org/updateRequisito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAplicante">
      <soap:operation soapAction="http://tempuri.org/updateAplicante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmpleado">
      <soap:operation soapAction="http://tempuri.org/updateEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertVacante">
      <soap:operation soapAction="http://tempuri.org/insertVacante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRequisito">
      <soap:operation soapAction="http://tempuri.org/insertRequisito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmpleado">
      <soap:operation soapAction="http://tempuri.org/insertEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCapacitacion">
      <soap:operation soapAction="http://tempuri.org/insertCapacitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEvaluacion">
      <soap:operation soapAction="http://tempuri.org/insertEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUsuario">
      <soap:operation soapAction="http://tempuri.org/insertUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarEmpCap">
      <soap:operation soapAction="http://tempuri.org/asignarEmpCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarAplEval">
      <soap:operation soapAction="http://tempuri.org/asignarAplEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uniqueAplDui">
      <soap:operation soapAction="http://tempuri.org/uniqueAplDui" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAplicante">
      <soap:operation soapAction="http://tempuri.org/insertAplicante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVacante">
      <soap:operation soapAction="http://tempuri.org/deleteVacante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRequisito">
      <soap:operation soapAction="http://tempuri.org/deleteRequisito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAsignCap">
      <soap:operation soapAction="http://tempuri.org/deleteAsignCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAsigEval">
      <soap:operation soapAction="http://tempuri.org/deleteAsigEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAplicante">
      <soap:operation soapAction="http://tempuri.org/deleteAplicante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="webServRRHHSoap12" type="tns:webServRRHHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVacantes">
      <soap12:operation soapAction="http://tempuri.org/getVacantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrioridadesRequisitos">
      <soap12:operation soapAction="http://tempuri.org/getPrioridadesRequisitos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosVacantes">
      <soap12:operation soapAction="http://tempuri.org/getEstadosVacantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesVacante">
      <soap12:operation soapAction="http://tempuri.org/getDetallesVacante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequisitosVac">
      <soap12:operation soapAction="http://tempuri.org/getRequisitosVac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesRequisito">
      <soap12:operation soapAction="http://tempuri.org/getDetallesRequisito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCorrVac">
      <soap12:operation soapAction="http://tempuri.org/getCorrVac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdVac">
      <soap12:operation soapAction="http://tempuri.org/getIdVac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCapacitaciones">
      <soap12:operation soapAction="http://tempuri.org/getCapacitaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleados">
      <soap12:operation soapAction="http://tempuri.org/getEmpleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvaluaciones">
      <soap12:operation soapAction="http://tempuri.org/getEvaluaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <soap12:operation soapAction="http://tempuri.org/getUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamentos">
      <soap12:operation soapAction="http://tempuri.org/getDepartamentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNombresDepartamentos">
      <soap12:operation soapAction="http://tempuri.org/getNombresDepartamentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDptoID">
      <soap12:operation soapAction="http://tempuri.org/getDptoID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDptoAbv">
      <soap12:operation soapAction="http://tempuri.org/getDptoAbv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPuestos">
      <soap12:operation soapAction="http://tempuri.org/getPuestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLogin">
      <soap12:operation soapAction="http://tempuri.org/validarLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesEmpleado">
      <soap12:operation soapAction="http://tempuri.org/getDetallesEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiposEvaluaciones">
      <soap12:operation soapAction="http://tempuri.org/getTiposEvaluaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNivelesUsuarios">
      <soap12:operation soapAction="http://tempuri.org/getNivelesUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesCapacitacion">
      <soap12:operation soapAction="http://tempuri.org/getDetallesCapacitacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsignCapacitaciones">
      <soap12:operation soapAction="http://tempuri.org/getAsignCapacitaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleadosByDpto">
      <soap12:operation soapAction="http://tempuri.org/getEmpleadosByDpto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCapEmp">
      <soap12:operation soapAction="http://tempuri.org/validateCapEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesEvaluacion">
      <soap12:operation soapAction="http://tempuri.org/getDetallesEvaluacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsignEvalApl">
      <soap12:operation soapAction="http://tempuri.org/getAsignEvalApl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAplicantesByVac">
      <soap12:operation soapAction="http://tempuri.org/getAplicantesByVac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateEvApl">
      <soap12:operation soapAction="http://tempuri.org/validateEvApl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesUsuario">
      <soap12:operation soapAction="http://tempuri.org/getDetallesUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignCap">
      <soap12:operation soapAction="http://tempuri.org/getDetallesAsignCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAsignEval">
      <soap12:operation soapAction="http://tempuri.org/getDetallesAsignEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAplicantesVac">
      <soap12:operation soapAction="http://tempuri.org/getAplicantesVac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiposAplicantes">
      <soap12:operation soapAction="http://tempuri.org/getTiposAplicantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetallesAplicante">
      <soap12:operation soapAction="http://tempuri.org/getDetallesAplicante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultadosAplicaciones">
      <soap12:operation soapAction="http://tempuri.org/getResultadosAplicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosContratos">
      <soap12:operation soapAction="http://tempuri.org/getEstadosContratos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVacante">
      <soap12:operation soapAction="http://tempuri.org/updateVacante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRequisito">
      <soap12:operation soapAction="http://tempuri.org/updateRequisito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAplicante">
      <soap12:operation soapAction="http://tempuri.org/updateAplicante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmpleado">
      <soap12:operation soapAction="http://tempuri.org/updateEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertVacante">
      <soap12:operation soapAction="http://tempuri.org/insertVacante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRequisito">
      <soap12:operation soapAction="http://tempuri.org/insertRequisito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmpleado">
      <soap12:operation soapAction="http://tempuri.org/insertEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCapacitacion">
      <soap12:operation soapAction="http://tempuri.org/insertCapacitacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEvaluacion">
      <soap12:operation soapAction="http://tempuri.org/insertEvaluacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarEmpCap">
      <soap12:operation soapAction="http://tempuri.org/asignarEmpCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarAplEval">
      <soap12:operation soapAction="http://tempuri.org/asignarAplEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uniqueAplDui">
      <soap12:operation soapAction="http://tempuri.org/uniqueAplDui" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAplicante">
      <soap12:operation soapAction="http://tempuri.org/insertAplicante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVacante">
      <soap12:operation soapAction="http://tempuri.org/deleteVacante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRequisito">
      <soap12:operation soapAction="http://tempuri.org/deleteRequisito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAsignCap">
      <soap12:operation soapAction="http://tempuri.org/deleteAsignCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAsigEval">
      <soap12:operation soapAction="http://tempuri.org/deleteAsigEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAplicante">
      <soap12:operation soapAction="http://tempuri.org/deleteAplicante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webServRRHH">
    <wsdl:port name="webServRRHHSoap" binding="tns:webServRRHHSoap">
      <soap:address location="http://eddgvr2-001-site1.atempurl.com/webServRRHH.asmx" />
    </wsdl:port>
    <wsdl:port name="webServRRHHSoap12" binding="tns:webServRRHHSoap12">
      <soap12:address location="http://eddgvr2-001-site1.atempurl.com/webServRRHH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>